name: Build/release

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Electron app
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            npm run build-linux
          elif [ "$RUNNER_OS" == "Windows" ]; then
            npm run build-win
          elif [ "$RUNNER_OS" == "macOS" ]; then
            npm run build-mac
          fi
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}-build
          path: |
            dist/*.exe
            dist/*.dmg
            dist/*.AppImage
            dist/*.zip
            dist/*.deb
            dist/*.rpm
